
# Exercício - Compras de Ecommerce  

Neste exercício, você receberá alguns dados falsos sobre algumas compras feitas pela Amazon! Basta seguir as instruções e tente dar melhor para responder as perguntas e completar as tarefas. 

A maioria das tarefas pode ser resolvida de diferentes maneiras. Para a maior parte, as perguntas ficam cada vez mais difíceis.

Observe também que todas essas questões podem ser respondidas com uma linha de código.

**Aluno: José Vinícius de Carvalho Oliveira**

Import o arquivo CSV Ecommerce Purchases

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/viniVN7/Mineracao-De-Dados/main/Bases%20de%20Dados/Ecommerce%20Purchases.csv%20-%20Ecommerce%20Purchases.csv.csv'

df = pd.read_csv(url,sep=',', encoding = 'latin1')

**Verifique o "head" do DataFrame.**

In [ ]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan","6,01158E+15",02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

### **Q01**: Quantas linhas e colunas existem?

In [ ]:
df.info()

#Para verificar a quantidade de linhas e colunas também pode-se utilizar o comando df.shape
#Neste caso, ele retorna os valores da seguinte forma: (quantidade de linhas, quantidade de colunas)
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  object
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(1), object(12)
memory usage: 1.1+ MB

(10000, 14)

### **Q02**: Qual é o preço de compra médio?

In [ ]:
df['Purchase Price'].mean()

50.347302

### **Q03**: Quais foram os preços de compra mais altos e mais baixos?

In [ ]:
df['Purchase Price'].max()

99.99

In [ ]:
df['Purchase Price'].min()

0.0

In [ ]:
#Ordenar valores para verificar resposta
df.sort_values(by=['Purchase Price'], ascending=False)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
2092,"63773 Shelton Greens\nAshleyton, MA 00493",56 lu,AM,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,Pitts Group,4292741269160,06/18,824,Maestro,heatherwoodard@lloyd.com,"Surveyor, hydrographic",172.197.216.229,el,99.99
7807,"PSC 6177, Box 1004\nAPO AA 57143-1269",64 Nf,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_4)...,"Porter, Johnson and Pratt",30109394842259,11/25,918,VISA 16 digit,kelli72@gmail.com,"Surveyor, insurance",89.51.92.242,de,99.99
9856,"058 Miranda Locks Suite 792\nPort Davidstad, P...",73 IW,PM,Mozilla/5.0 (Windows NT 5.0) AppleWebKit/5360 ...,Olson-Navarro,6011037226242937,03/18,757,American Express,brendastewart@dalton.info,Site engineer,96.79.250.154,de,99.97
7604,"672 James Oval\nNew Davidview, KS 91202",07 dT,PM,Mozilla/5.0 (Windows 98; Win 9x 4.90; it-IT; r...,Fitzpatrick Group,503870406017,05/24,312,JCB 15 digit,mjenkins@gmail.com,"Teacher, primary school",192.227.38.104,el,99.95
3844,"27148 Kathy Cliff Apt. 400\nEast Jillton, TX 5...",37 ou,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,King and Sons,3088952915231147,04/17,493,Mastercard,lpowell@yahoo.com,Television camera operator,110.244.150.130,el,99.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2783,"402 Joseph Tunnel Apt. 219\nMartinmouth, DE 58480",46 Yg,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Wagner Group,"4,72046E+15",08/21,866,Mastercard,emilypotter@yahoo.com,IT trainer,69.92.84.253,de,0.02
8656,"146 Laura Mission\nNorth Donald, NC 76608",95 xb,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2 ...,Armstrong PLC,341024981858937,06/19,217,Discover,rramsey@oliver.com,Product/process development scientist,66.97.84.200,ru,0.02
6863,"9202 Baker Forks\nNew Chelseaborough, VA 70852",40 Vx,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,Sanchez-Stephenson,4759624285678506,08/18,600,VISA 16 digit,leesabrina@rojas.com,Television camera operator,143.139.184.18,es,0.01
2876,"332 Jones Parkways\nEast Katherineville, GA 64230",39 GT,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_9...,"Lyons, Diaz and Clark",4204500444841766,01/18,38,VISA 16 digit,jennifer11@baker.com,Biomedical scientist,223.47.177.174,it,0.00
5487,"465 Mallory Ways\nNorth Rebecca, RI 82734-1160",93 OH,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Flynn and Sons,30469912089738,09/23,236,Discover,mjohnson@austin.org,Stage manager,43.99.56.59,zh,0.00

In [ ]:
df[['Lot', 'Purchase Price']].groupby(['Purchase Price'],as_index=False).count().sort_values(by=['Purchase Price'], ascending=False)

      Purchase Price  Lot
6348           99.99    2
6347           99.97    1
6346           99.95    1
6345           99.93    1
6344           99.92    2
...              ...  ...
4               0.04    1
3               0.03    2
2               0.02    2
1               0.01    1
0               0.00    2

[6349 rows x 2 columns]

### **Q04**: Quantas pessoas têm Inglês como sua língua de escolha no site?

In [3]:
df[['Language']].loc[(df['Language'] == 'en')].count()

Language    1098
dtype: int64

### Q05: Quantas pessoas têm o cargo de "Advogado"?

In [6]:
df[['Job']].loc[(df['Job'] == 'Lawyer')].count()

Job    30
dtype: int64

In [8]:
df[['Job']].loc[df['Job'].str.contains('lawyer', case=False)].count()

Job    30
dtype: int64

### Q06: Quantas pessoas fizeram a compra durante a AM e quantas pessoas fizeram a compra durante o PM?

In [9]:
df[['AM or PM', 'Lot']].groupby(['AM or PM'], as_index=False).count()

  AM or PM   Lot
0       AM  4932
1       PM  5068

### Q07: Quais são os 5 títulos de trabalho mais comuns?

In [10]:
df['Job'].value_counts()[:5]

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

### Q08: Alguém fez uma compra que veio do Lot: "90 WT", qual foi o preço de compra para esta transação?

In [11]:
df.loc[df['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

### Q09: Qual é o email da pessoa com o seguinte número do cartão de crédito: 4926535242672853

In [12]:
df.loc[df['Credit Card'] == '4926535242672853']['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

### Q10: Quantas pessoas têm o American Express como seu fornecedor de cartão de crédito * e * fizeram uma compra acima de US $ 95?

In [15]:
df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 95)].count()['Address']

39

### Q11: Quantas pessoas tem um cartão de crédito que expira em 2025?

In [16]:
df.loc[df['CC Exp Date'].str.contains('25')].count()['CC Exp Date']

1033

In [17]:
df['ano_expira'] = df['CC Exp Date'].apply(lambda row: row.split('/')[-1])
df[['ano_expira', 'Lot']].groupby(['ano_expira'], as_index=False).count()

   ano_expira   Lot
0          16   376
1          17   955
2          18   995
3          19   995
4          20   988
5          21  1006
6          22   996
7          23  1010
8          24   992
9          25  1033
10         26   654

### Q04: Quais são os 5 principais provedores de e-mail / hosts mais populares (por exemplo, gmail.com, yahoo.com, etc ...)

In [18]:
df['provedor'] = df['Email'].apply(lambda row: row.split('@')[-1])
df[['provedor']].value_counts()[:5]

provedor
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
dtype: int64